%footer.footer
  .row
    %div.small-12.medium-6.large-5.columns
      %p.logo
        %i.fi-skull
        Darkside Taco
    %div.small-12.medium-6.large-4.columns
    %div.small-12.medium-12.large-3.columns
      %p.about Darkside Taco
      %p.about.subheader Follow us for up-to-date info.
      %ul.inline-list.social
        = link_to 'https://instagram.com/darksidetaco/' do
          %i.fi-social-instagram
        = link_to 'https://twitter.com/darksidetaco' do
          %i.fi-social-twitter
